*{
    margin: 0px;
    padding:0px;
}
body{
    background-color: #588157;
    text-align: center;
}

.container{

    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.game{

    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    background-color: #DAD7CD;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: black;
    
}

#reset-btn{
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #344E41;
    color: #DAD7CD;
    border-radius: 1rem;
    border: none;
}
#display{
    
        font-family: 'Press Start 2P', cursive;
        
        font-size: 36px; 
        color: black;
        text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
        margin-top: 2rem;
       
}